// Fonts
@import "fonts/roboto";

// Layout
@import "layout/header";
@import "layout/container";

// Shared
@import "shared/buttons";
@import "shared/tables";
@import "shared/form";

body {
    background: #f5f5f5;
    margin: 0;
}

* {
    font-family: 'Roboto', Arial, sans-serif;
    box-sizing: border-box;
}
